{% extends 'shop/basic.html' %}
{% block title%} Checkout {%endblock%}
{% block body %}
<div class="container">
    <div class="col my-4">
    <h2>Enter your email Id to Trash Your Order</h2>
    <form method="post" action="#" id ="trackerform">{% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
          <label for="inputName">Order Id</label>
          <input type="text" class="form-control" id="orderId" name ="orderId" placeholder="Enter Order Id">
      </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="email" name ="email" placeholder="enter your email">
    </div>
    <button type="submit" class="btn btn-primary my-2 ">Track Your Order
    </button>
  </div>
  </div>
   
    <div class="col my-4">
    <h2>Your Order Status</h2>
    <div class="my-4" >

      <ul class="list-group" id ="items">
          
        </ul>
  </div>
  	 <h2>Your Order Details</h2>
    <div class="my-4" >

      <ul class="list-group" id ="citems">
          
        </ul>
  </div>
  
  
  </div>

{%endblock%}
{%block js%}
<script>
$('#trackerform').submit(function(event){

  $('#items').empty();
  var formData = {
    'orderId': $('input[name=orderId]').val(),
    'email': $('input[name=email').val(),
    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
  };

  $.ajax({
          type: 'POST',
          url : '/shop/tracker/',
          data: formData,
          encode: true
       })

      	.done(function(data){
          $('#citems').empty();
        	console.log(data)
        	data = JSON.parse(data);
        	
        	if (data['status'] == 'success'){

            updates = data['updates'];
          	for(i=0; i< updates.length;i++){
            	let text = updates[i]['text'];
            	let time = updates[i]['time'];
            	mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                  ${text}
                  <span class="badge bg-primary rounded-pill">${time}</span>
                </li>`

            	$('#items').append(mystr);

      	 	 }
      	}
        	else{
          	mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
               Sorry !!!!!`

          	$('#items').append(mystr);
        }
        // fill in the order details
         cart = JSON.parse(data['itemJson']);
            console.log(cart);
            for(item in cart){
  				let name = cart[item][1];
  				let qty = cart[item][0];
          let totalPrice = cart[item][2]
  	
  				mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
              			${name}
              		<span class="badge bg-primary rounded-pill">${qty}</span>
                  <span class="badge bg-primary rounded-pill">Product amount  RS.${totalPrice}</span>
            			</li>`

    			$('#citems').append(mystr);
            }
    });

    	event.preventDefault();
});  

</script>
{%endblock%}
